@charset "UTF-8";

body {
    background-color: #292929;
}

main {
    background-image: linear-gradient(90deg, #D6D09C, #D5DE69);
    width: 500px;
   
}

h1 {
    color: #292929;
    font-family:serif;
    font-size: 3em;
    font-weight:500;
    font-style: normal;

}